.header__lang-link {
    font-family: 'Inter Regular', 'Arial', sans-serif;
    text-decoration: none;
    font-size: 24px;
    line-height: 1.75rem;
    color: #FFF;
    list-style: none;

}

.header__lang-link:hover {
    opacity: .5;
    -webkit-transition-duration: .5s;
         -o-transition-duration: .5s;
            transition-duration: .5s;

}

@media (max-width: 425px) {
    .header__lang-link {
        font-size: 18px;
        line-height: 1.25rem;

    }
}