.header { 
    width: calc(100% - 48px*2);
    display: flex;
    justify-content: space-between;

}

@media (max-width: 1023px) {
    .header {
     width: calc(100% - 30px*2);
 
    }
 }
 


@media (max-width: 768px) {
   .header {
    width: calc(100% - 24px*2);

   }
}

@media (max-width: 767px) {
    .header {
     width: calc(100% - 16px*2);
 
    }
 }