.place__title {
    margin: 0;
    font-family: 'Inter Black', 'Arial', sans-serif;
    font-size: 72px;
    line-height: 4.75rem;
    width: 460px;

}

@media  (max-width: 1024px) {
    .place__title {
        width: 440px;
    
    }
}

@media  (max-width: 1023px) {
    .place__title {
        width: 380px;
        
    }
}

@media  (max-width: 768px) {
    .place__title {
        width: 340px;
        font-size: 42px;
        line-height: 2.875rem;
        
    }
}

@media  (max-width: 767px) {
    .place__title {
        margin: 0 auto;
        width: calc(100% - 16px*2);
        font-size: 32px;
        line-height: 2.188rem;
        
    }
}