.lead__title {
  margin: 0 auto 32px;
  font-family: "Inter", "Arial", sans-serif;
  font-style: normal;
  font-size: 96px;
  font-weight: 900;
  line-height: 6.25rem;
  color: #fff;
  max-width: 720px;
  width: 100%;
  text-align: center;
}

@media (max-width: 767px) {
  .lead__title {
    margin: 0 auto 24px;
    width: calc(100% - 16px * 2);
    font-size: 44px;
    line-height: 3rem;
  }
}

@media (max-width: 425px) {
  .lead__title {
    margin: 0 auto 16px;
    font-size: 40px;
    line-height: 2.75rem;
  }
}
