.lead__title {
    margin: 0 auto 32px;
    font-family: 'Inter Black', 'Arial', sans-serif;
    font-size: 96px;
    line-height: 6.25rem;
    color: #FFF;
    width: 720px;
    text-align: center;
    
}

@media (max-width: 767px) {
    .lead__title {
        margin: 0 auto 16px;
        width: calc(100% - 16px*2);
        font-size: 40px;
        line-height: 2.75rem;
 
    }
 }