.footer__copyright {
  margin: 0;
  font-family: "Inter", Arial, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

@media (max-width: 690px) {
  .footer__copyright {
    text-align: right;
  }
}
