.container__place {
    margin-top: 80px;
    
}

@media  (max-width: 768px) {
    .container__place {
        margin-top: 73px;

    }
}

@media  (max-width: 767px) {
    .container__place {
        margin-top: 50px;

    }
}