@import url(../vendor/normalize.css);
@import url(../blocks/root/root.css);
@import url(../vendor/fonts/fonts.css);

.container {
    max-width: 1280px;
    margin: 0 auto;

}


/* header  */
.header { 
    max-width: 1184px;
    display: flex;
    justify-content: space-between;

}

.container__header {
    margin: 28px 48px 56px;

}

.header__logo {
    width: 176px;
    height: 52px;
}

.header__lang-links {
    width: 74px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0;
    padding: 0;
    
}

.header__lang-link {
    font-family: 'Inter';
    font-style: normal;
    text-decoration: none;
    font-size: 24px;
    line-height: 1.75rem;
    font-weight: 400;
    color: #FFF;
    list-style: none;
}

.ru {
    text-decoration: underline;
}

.header__lang-link:hover {
    opacity: .5;
    transition-duration: .5s;

}




/* lead */
.lead {
    margin: 0 auto ;
    max-width: 984px;

}
/* title and sub */
.lead__title {
    margin: 0 auto 32px;
    font-family: 'Inter';
    font-style: normal;
    font-size: 96px;
    line-height: 6.25rem;
    font-weight: 900;
    color: #FFF;
    width: 720px;
    min-height: 200px;
    text-align: center;
    
}

.lead__subtitle {
    margin: 0 auto 64px;
    font-family: 'Inter';
    font-style: normal;
    font-size: 30px;
    line-height: 2.25rem;
    font-weight: 400;
    color: #FFF;
    width: 640px;
    min-height: 72x;
    text-align: center;
}

/* картинка */

.lead__figure {
    margin: 0;
    width: 100%;

}

.lead__image {
    max-width: 100%;
    height: 615px;
    overflow: hidden;
}

.lead__caption {
    font-family: 'Inter';
    font-style: normal;
    font-size: 10px;
    line-height: .875rem;
    font-weight: 400;
    color: #FFF;
    text-transform: uppercase;
}

/* intro */
.intro {
    max-width: 54%;
    color: #FFF;
}

.container__intro {
    margin: 92px 148px;

}

.intro__title {
    margin: 0;
    font-family: 'Inter';
    font-style: normal;
    font-size: 54px;
    line-height: 3.625rem;
    font-weight: 900;

}

.intro__text {
    margin: 40px 0 33px;
    font-family: 'Inter';
    font-style: normal;
    font-size: 16px;
    line-height: 1.625rem;
    font-weight: 400;
    
}

.intro__list {
    margin: 0;
    padding: 0;
    list-style: none;
    font-family: 'Inter';
    font-style: normal;
    font-size: 12px;
    line-height: 1.125rem;
    font-weight: 400;
}

.intro__list_bold {
    font-size: 12px;
    line-height: 1.125rem;
    font-weight: 700;

}

/* photo-grid */
.photo-grid {
    margin: 0 auto;
    width: 1184px;
    height: 671px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(3, auto);
    gap: 16px;
    
}

.photo-grid__item {
    width: 100%;
    height: 213px;
    object-fit: cover;
}

/* places */
.places {
    margin: 0;
    max-width: 76.875%;
    color: #FFF;

}

.container__places {
    margin: 92px auto;
}

.place {
    display: flex;
    flex-wrap: wrap;
    gap: 48px 40px;

}

.container__place {
    margin-top: 80px;
}
.place__title {
    margin: 0;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 900;
    font-size: 72px;
    line-height: 4.75rem;
    width: 460px;

}

.place__image {
    width: 460px;
    height: 460px;
    object-fit: cover;

}

.place__website {
    width: calc(100% - 460px - 40px);
    display: flex;
    flex-direction: column;
    justify-content: end;
    align-items: start;

}

.place__url-heading {
    margin: 0;
    padding-bottom: 12px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 0.75rem;
}

.place__link {
    color: #FFF;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 1.375rem;
}

.place__paragraphs {
    width: calc(100% - 460px - 40px);
    display: flex;
    flex-direction: column;
    row-gap: 26px;

}

.place__paragraph {
    margin: 0;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 1.813rem;
}