.lead__caption {
    font-family: 'Inter Regular', 'Arial', sans-serif;
    font-size: 10px;
    line-height: .875rem;
    color: #FFF;
    text-transform: uppercase;
    
}

@media (max-width: 768px) {
    .lead__caption {
     padding-left: 24px;
 
    }
 }

 @media (max-width: 767px) {
    .lead__caption {
        padding-left: 16px;
    
       }
    }