.place {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 460px 40px 1fr;
  grid-template-columns: 460px 1fr;
  gap: 48px 40px;
}

@media (max-width: 1024px) {
  .place {
    -ms-grid-columns: 440px 32px 1fr;
    grid-template-columns: 440px 1fr;
    gap: 48px 32px;
  }
}

@media (max-width: 768px) {
  .place {
    -ms-grid-columns: 340px 28px 1fr;
    grid-template-columns: 340px 1fr;
    gap: 48px 28px;
  }
}

@media (max-width: 625px) {
  .place {
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
    width: 100%;
    gap: 32px;
  }
}
