.place__image {
    width: 460px;
    object-fit: cover;

}

@media  (max-width:1024px) {

    .place__image {
        width: 440px;
    
    }
}

@media  (max-width:1023px) {

    .place__image {
        width: 380px;
        height: 380px ;
    
    }
}

@media  (max-width: 768px) {
    .place__image {
        width: 340px;
        height: 340px;
        
    }
}

@media  (max-width: 767px) {
    .place__image {
        width: 320px;
        
    }
}